@import 'variaveis';
// COR DE FUNDO DE INPUT
.read-branco:read-write {
	color: $branco;
}

// INPUT TYPE FILE
input[type=file] {
	width: 100%;
//	max-width: 100%;
	color: $cor1;
	padding: 5px;
	background: $branco;
	border-radius: 10px;
	border: 1px solid $cor2;
}
  
input[type=file]::file-selector-button {
	margin-right: 20px;
	border: 2px solid $cor2;
	background: $cor2;
	padding: 5px 20px;
	border-radius: 10px;
	color: $preto;
	cursor: pointer;
}
  
input[type=file]::file-selector-button:hover {
	background: $branco;
	color: $preto;
	border: 2px solid $cor2;
}

input[type=checkbox] {
	width: 20px;
	height: 20px;
}