@import 'variaveis';
// NAVBAR
.bg-branco {
	background-color: $branco;
}


ul.navbar-nav > li.nav-item > a.nav-link,
.menu-eventos-item {
	background-color: $branco;
	color: $cor1;
	&:hover, :focus{
		background-color: $cor1;
		border-radius: 10px;
		color:	$branco;
	}
}

.menu-eventos {
	height: 55px;
}

// BARRA DE PROGRESSO
div.barra {
	height: 20px;
	width: 200px;
}