body {
	font-size: 16px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

$cor1: #aa5042;
$cor2: #72a98f;
$cor3: #33658a;
$branco: #fff;
$preto: #000;

.pre-footer {
	height: 20px;
}

@media (max-width: 575.98px) {

}

/*Extra small devices (portrait phones, menor que 576px)*/
@media (min-width: 576px) and (max-width: 767.98px) {

}

/*Small devices (landscape phones, 576px e maiores)*/
@media (min-width: 768px) and (max-width: 990.98px) {
	
}

/*Medium devices (tablets, 768px e maiores)*/
@media (min-width: 991px) and (max-width: 1199.98px) {
	
}

/*Large devices (desktops, 992px e maiores)*/
@media (min-width: 1200px) {
	
}

// NEGRITO
.negrito {
	font-weight: bold;
}

// SEPARADOR
hr.separador {
	border: 1px dotted $cor1;
}

// LINK
a.link-sem-sobrescrito {
	text-decoration: none;
}

// NAVBAR
.bg-branco {
	background-color: $branco;
}



ul.navbar-nav > li.nav-item > a.nav-link {
	background-color: $branco;
	color: $cor1;
}

.navbar-toggler:hover,
.navbar-toggler:focus,
ul.navbar-nav > li.nav-item > a.nav-link:hover,
ul.navbar-nav > li.nav-item > a.nav-link:focus,
ul.navbar-nav > li.nav-item > div.dropdown-menu >a.dropdown-item:hover,
ul.navbar-nav > li.nav-item > div.dropdown-menu >a.dropdown-item:focus {
	background-color: $cor1;
	border-radius: 10px;
	color:	$branco;
}

// FOOTER

// INDEX.PHP
#image1 {
	background-image: url(../../img/fotos/background_1.jpg);
}

#image2 {
	background-image: url(../../img/fotos/background_2.jpg);
}

#image3 {
	background-image: url(../../img/fotos/background_3.jpg);
}

#image4 {
	background-image: url(../../img/fotos/background_4.jpg);
}

#image5 {
	background-image: url(../../img/fotos/background_5.jpg);
}

#image6 {
	background-image: url(../../img/fotos/background_6.jpg);
}

#image7 {
	background-image: url(../../img/fotos/background_7.jpg);
}

#image8 {
	background-image: url(../../img/fotos/background_8.jpg);
}

#image9 {
	background-image: url(../../img/fotos/background_9.jpg);
}

#image10 {
	background-image: url(../../img/fotos/background_10.jpg);
}

#image1, 
#image2,
#image3,
#image4,
#image5,
#image6,
#image7,
#image8,
#image9,
#image10 {
	position: relative;
	height: 100%;
	min-height: 500px;
	opacity: 0.7;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

// Fonts
@font-face {
	font-family: "Dancing";
	src: url('../fonts/DancingScript-VariableFont_wght.ttf');
}

@font-face {
	font-family: "Berkshire";
	src: url('../fonts/BerkshireSwash-Regular.ttf');
}

.font-dancing {
	font-family: "Dancing";
	font-size: 1.3em;
	font-weight: 700;
}

.font-berk {
	font-family: "Berkshire";
	font-size: 1em;
}

.font-size-16 {
	font-size: 16px;
}

.font-size-18 {
	font-size: 18px;
}

.font-size-20 {
	font-size: 20px;
}

.font-size-22 {
	font-size: 22px;
}

.font-size-24 {
	font-size: 24px;
}

// CORES

.cor-1 {
	color: $cor1;
}

.cor-2 {
	color: $cor2;
}

.cor-3 {
	color: $cor3;	
}

// CARD - LOGIN + REGISTER
.borda-card-reader {
	border-radius: 20px 20px 0px 0px;
	border: 2px solid $cor1;
}

.borda-card-body {
	border: 2px;
	border-top: 0px;
	border-style: solid;
	border-color: $cor1;
	border-radius: 0px 0px 20px 20px;
}

//BORDAS
.borda-2 {
	border: 1px solid $cor2;
}

// BOTÃO
.botao {
	background-color: $cor1;
	color: $branco;
}

.botao:hover,
.botao:focus {
	background-color: $branco;
	color: $cor1;
	border: 2px solid $cor1;
	border-radius: 15px;
}

// TÍTULOS
.titulo-index {
	font-size: calc(20px + 2vw);
	color: $cor1;
}

.subtitulo-index {
	font-size: calc(10px + 1vw);
}

.titulo-index,
.subtitulo-index {
	display: inline;
	font-weight: 700;
}

// BARRA DE PROGRESSO
div.barra {
	height: 20px;
	width: 200px;
}