/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/12/2019, 15:42:00
    Author     : Elton Ferrari
*/

@import "variaveis.scss";

h1.log-reg {
    font-family: 'Lobster', cursive; 
    font-size: 3vw;
    text-align: center;
    color: $destaque;
    margin: 0 auto;
}

h1.h1-register, 
h2.h2-register,
h1.h1-login,
h2.h2-login,
h1.msg-register {
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
}

h1.h1-register,
h1.h1-login {
    color: $destaque;
    font-size: 20px;
}

h2.h2-register,
h2.h2-login,
h1.msg-register {
    color: $cor-alert;
    font-size: 15px;
}

h1.msg-register {
    font-size: 20px;
}

ul {
    list-style-type: none;
    text-align: center;
}

ul li, ul li:hover {
    width: 150px;
    height: 30px;
    line-height: 30px;
    display: inline-block;    
    text-align: center;
}

img {
    max-width: 100%;
    display: block;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
}

.flex > div {
    flex: 1 1 200px;
    margin: 0 10px;
}