// Variáveis
$branco: #fff;
$background: $branco;
$preto: #000;
$destaque: #4169E1;
$verdao: darkgreen;
$verde: #00FF7F;
$yellow: #ffff00;
$cor-alert: #ff0000;
$font_padrao: Verdana;
$darkgolden: #b8860b;
$sans: sans-serif;


// FORMATAÇÃO
* {
    margin: 0;
    padding: 0;
    font-family: $font_padrao;
}

body {
    background-color: $background;
}

.title {
    background-image: url(../../images/system/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 30px;
    text-align: center;
    font-size: 10vw;
    text-shadow: #222 10px 10px 10px;
    width: 100%;
    height: 500px;
    justify-content: center;
    color: $destaque;
}

// INDEX
.h-index {
    text-align: center;
    color: $preto;
    font: 1.5vw $sans;
    font-weight: bold;    
}

h3.h-index {
    color: f00;
} 

section {
    background-color: $background;    
}

ul {
    list-style-type: none;
    text-align: center;
}

ul li, ul li:hover {
    width: 150px;
    height: 30px;
    line-height: 30px;
    display: inline-block;    
    text-align: center;
}

ul li:hover {
    background-color: $background;
    color: $verdao;
}

// TABELAS


table {
    background-color: $verde;
    border: 1px solid #000;
}

tr,td{
    border: 1px solid #000;
}

td.center,
section.section-center {
    text-align: center;
}

section.section-center {
    color: $destaque; 
}

td.right {
    text-align: right;
    padding-right: 10px;
}

// LOGIN

.form-login, 
.form-register {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box-register,
.box-login {
    width: 500px;
    height: 300px;
    background: #fff;
}

table {
    width: 100%;
}

label {
    color: $verdao;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    margin: 50px;
    border: 1px solid #999;
    border-radius: 15px;
    padding: 2px;
}

input.btn {
    width: 100px;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 20px;
}

input.green,
input.yellow {
    color: $verdao;
}

input.green:hover,
input.yellow:hover {
    color: $branco;
    font-weight: bold;
}


input.green {
    background-color: $verde;
}

input.green:hover {
    background-color: $verdao;
}

input.yellow {
    background-color: $yellow;
}

input.yellow:hover {
    background-color: $darkgolden;
}

// REGISTER

h1.h1-register, 
h2.h2-register,
h1.h1-login,
h2.h2-login,
h1.msg-no-register {
    font-weight: bold;
}

h1.h1-register,
h1.h1-login {
    color: $destaque;
    font-size: 20px;
}

h2.h2-register,
h2.h2-login,
h1.msg-no-register {
    color: $cor-alert;
    font-size: 15px;
}

h1.msg-no-register {
    font-size: 20px;
}



/*

// Centralizar em div


.container {
    width: 100vw;
    height: 100vh;
    background: #6C7A89;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box {
    width: 300px;
    height: 300px;
    background: #fff;
}

*/