@import 'variaveis.scss';
// FORMATAÇÃO
* {
    margin: 0;
    padding: 0;
    font-family: $font_padrao;
}

body {
    background-color: $background;
}

// TABELAS

table {
    background-color: $verde;
    border: 1px solid #000;
}

tr,td{
    border: 1px solid #000;
}

td.center,
section.section-center {
    text-align: center;
}

section.section-center {
    color: $destaque; 
}

td.right {
    text-align: right;
    padding-right: 10px;
}

// LOGIN

.form-login, 
.form-register {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box-register,
.box-login {
    width: 500px;
    height: 300px;
    background: #fff;
}

table {
    width: 100%;
}

label {
    color: $verdao;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    margin: 50px;
    border: 1px solid #999;
    border-radius: 15px;
    padding: 2px;
}

input.btn {
    width: 100px;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 20px;
}

input.green,
input.yellow {
    color: $verdao;
}

input.green:hover,
input.yellow:hover {
    color: $branco;
    font-weight: bold;
}


input.green {
    background-color: $verde;
}

input.green:hover {
    background-color: $verdao;
}

input.yellow {
    background-color: $yellow;
}

input.yellow:hover {
    background-color: $darkgolden;
}

// REGISTER

h1.h1-register, 
h2.h2-register,
h1.h1-login,
h2.h2-login,
h1.msg-register {
    font-weight: bold;
}

h1.h1-register,
h1.h1-login {
    color: $destaque;
    font-size: 20px;
}

h2.h2-register,
h2.h2-login,
h1.msg-register {
    color: $cor-alert;
    font-size: 15px;
}

h1.msg-register {
    font-size: 20px;
}

h1.title-p-r {
    font-weight: bold;
}



/*

// Centralizar em div


.container {
    width: 100vw;
    height: 100vh;
    background: #6C7A89;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box {
    width: 300px;
    height: 300px;
    background: #fff;
}

*/