/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/12/2019, 12:37:27
    Author     : Elton Ferrari
*/

//VARIÁVEIS

$branco: #fff;
$background: $branco;
$preto: #000;
$destaque: #4169E1;
$verdao: darkgreen;
$verde: #00FF7F;
$yellow: #ffff00;
$cor-alert: #ff0000;
$font_padrao: Arial;
$darkgolden: #b8860b;
$sans: sans-serif;
$lightyellow: #FFF8DC;