/*Extra small devices (portrait phones, menor que 576px)*/
/*Small devices (landscape phones, 576px e maiores)*/
/*Medium devices (tablets, 768px e maiores)*/
/*Large devices (desktops, 992px e maiores)*/
/* line 26, ../../xampp/htdocs/Antigomobilista/scss/style.scss */
.negrito {
  font-weight: bold;
}

/* line 30, ../../xampp/htdocs/Antigomobilista/scss/style.scss */
hr.separador {
  border: 2px dotted #007bff;
}

/* line 38, ../../xampp/htdocs/Antigomobilista/scss/style.scss */
.pre-footer {
  padding-bottom: 50px;
}

/* line 43, ../../xampp/htdocs/Antigomobilista/scss/style.scss */
#image1 {
  background-image: url(../../img/fotos/background_1.jpg);
}

/* line 47, ../../xampp/htdocs/Antigomobilista/scss/style.scss */
#image2 {
  background-image: url(../../img/fotos/background_2.jpg);
}

/* line 51, ../../xampp/htdocs/Antigomobilista/scss/style.scss */
#image3 {
  background-image: url(../../img/fotos/background_3.jpg);
}

/* line 55, ../../xampp/htdocs/Antigomobilista/scss/style.scss */
#image4 {
  background-image: url(../../img/fotos/background_4.jpg);
}

/* line 59, ../../xampp/htdocs/Antigomobilista/scss/style.scss */
#image5 {
  background-image: url(../../img/fotos/background_5.jpg);
}

/* line 63, ../../xampp/htdocs/Antigomobilista/scss/style.scss */
#image6 {
  background-image: url(../../img/fotos/background_6.jpg);
}

/* line 67, ../../xampp/htdocs/Antigomobilista/scss/style.scss */
#image7 {
  background-image: url(../../img/fotos/background_7.jpg);
}

/* line 71, ../../xampp/htdocs/Antigomobilista/scss/style.scss */
#image8 {
  background-image: url(../../img/fotos/background_8.jpg);
}

/* line 75, ../../xampp/htdocs/Antigomobilista/scss/style.scss */
#image9 {
  background-image: url(../../img/fotos/background_9.jpg);
}

/* line 79, ../../xampp/htdocs/Antigomobilista/scss/style.scss */
#image10 {
  background-image: url(../../img/fotos/background_10.jpg);
}

/* line 83, ../../xampp/htdocs/Antigomobilista/scss/style.scss */
#image1,
#image2,
#image3,
#image4,
#image5,
#image6,
#image7,
#image8,
#image9,
#image10 {
  position: relative;
  height: 100%;
  min-height: 500px;
  opacity: 0.7;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@font-face {
  font-family: "Dancing";
  src: url("../fonts/DancingScript-VariableFont_wght.ttf");
}

/* line 109, ../../xampp/htdocs/Antigomobilista/scss/style.scss */
.font-dancing {
  font-family: "Dancing";
  font-size: 1.3em;
}

/* line 115, ../../xampp/htdocs/Antigomobilista/scss/style.scss */
.titulo-index {
  font-size: calc(20px + 2vw);
}

/* line 119, ../../xampp/htdocs/Antigomobilista/scss/style.scss */
.subtitulo-index {
  font-size: calc(10px + 1vw);
}

/* line 123, ../../xampp/htdocs/Antigomobilista/scss/style.scss */
.titulo-index,
.subtitulo-index {
  display: inline;
  font-weight: 700;
}

/* line 130, ../../xampp/htdocs/Antigomobilista/scss/style.scss */
div.barra {
  height: 20px;
  width: 200px;
}

/* line 136, ../../xampp/htdocs/Antigomobilista/scss/style.scss */
p.text-X-bg-azul {
  background-color: #20036d;
  color: #41aeee;
}

/* line 141, ../../xampp/htdocs/Antigomobilista/scss/style.scss */
p.text-X-bg-vermelho {
  background-color: #af0404;
  color: #d89585;
}

/* line 146, ../../xampp/htdocs/Antigomobilista/scss/style.scss */
p.text-X-bg-azul,
p.text-X-bg-vermelho {
  border-radius: 20px;
}

/*# sourceMappingURL=style.css.map */