.d-in {
  display: inline;
}

.d-bl {
  display: block;
}

.bg-branco {
  background-color: #fff;
}

.blur {
  background: white;
}

.blur-2 {
  background: #72a98f;
}

.blur-3 {
  background: #33658a;
}

body {
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.borda-card-reader {
  border-radius: 20px 20px 0px 0px;
  border: 2px solid #aa5042;
}

.borda-card-body {
  border: 2px;
  border-top: 0px;
  border-style: solid;
  border-color: #aa5042;
  border-radius: 0px 0px 20px 20px;
}

.borda-2 {
  border: 1px solid #72a98f;
}

.borda-redonda-10 {
  border-radius: 10px;
}

.borda-redonda-10-left {
  border-radius: 10px 0px 0px 10px;
}

.borda-redonda-10-right {
  border-radius: 0px 10px 10px 0px;
}

.borda-redonda-20 {
  border-radius: 20px;
}

.borda-branco {
  border: 2px solid #fff;
}

.borda-cor1 {
  border: 2px solid #aa5042;
}

.borda-cor2 {
  border: 2px solid #72a98f;
}

.borda-cor3 {
  border: 2px solid #33658a;
}

.botao, .botao-altera-foto, .botao-add, .botao-altera-nome, .botao-vermelho, .botao-sair {
  padding: 10px 20px;
  background-color: #aa5042;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
}

.botao:hover, .botao-altera-foto:hover, .botao-add:hover, .botao-altera-nome:hover, .botao-vermelho:hover, .botao-sair:hover {
  background-color: #fff;
  color: #aa5042;
  border-color: #aa5042;
}

.botao-add {
  padding: 2px 10px;
}

.botao-altera-nome {
  background-color: #fff;
  color: #33658a;
}

.botao-altera-nome:hover {
  background-color: #33658a;
  color: #fff;
  border: 2px solid #fff;
}

.botao-vermelho, .botao-sair {
  background-color: #ff0000;
  color: #fff;
}

.botao-vermelho:hover, .botao-sair:hover {
  background-color: #fff;
  color: #ff0000;
  border: 2px solid #ff0000;
}

.botao-sair {
  padding: 10px 60px 10px 60px;
}

/*Extra small devices (portrait phones, menor que 576px)*/
/*Small devices (landscape phones, 576px e maiores)*/
/*Medium devices (tablets, 768px e maiores)*/
/*Large devices (desktops, 992px e maiores)*/
.preenchimento .col-5 {
  background-color: #fff;
  padding: 0px;
}

.titulo-index {
  font-size: calc(20px + 2vw);
  color: #aa5042;
}

.subtitulo-index {
  font-size: calc(10px + 1vw);
}

.titulo-index,
.subtitulo-index {
  display: inline;
  font-weight: 700;
}

@font-face {
  font-family: "Dancing";
  src: url("../fonts/DancingScript-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Berkshire";
  src: url("../fonts/BerkshireSwash-Regular.ttf");
}

.font-dancing {
  font-family: "Dancing";
  font-weight: 700;
}

.font-berk {
  font-family: "Berkshire";
  font-weight: 600;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-22 {
  font-size: 22px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-26 {
  font-size: 26px;
}

.font-size-28 {
  font-size: 28px;
}

.font-size-32 {
  font-size: 32px;
}

.cor-1 {
  color: #aa5042;
}

.cor-2 {
  color: #72a98f;
}

.cor-3 {
  color: #33658a;
}

.cor-branco {
  color: #fff;
}

.cor-preto {
  color: #000;
}

.cor-vermelho {
  color: #ff0000;
}

.negrito {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.pre-footer,
.espaco {
  height: 20px;
}

.espaco-4x {
  height: 80px;
}

#image1 {
  background-image: url(../../img/fotos/background_1.jpg);
}

#image2 {
  background-image: url(../../img/fotos/background_2.jpg);
}

#image3 {
  background-image: url(../../img/fotos/background_3.jpg);
}

#image4 {
  background-image: url(../../img/fotos/background_4.jpg);
}

#image5 {
  background-image: url(../../img/fotos/background_5.jpg);
}

#image6 {
  background-image: url(../../img/fotos/background_6.jpg);
}

#image7 {
  background-image: url(../../img/fotos/background_7.jpg);
}

#image8 {
  background-image: url(../../img/fotos/background_8.jpg);
}

#image9 {
  background-image: url(../../img/fotos/background_9.jpg);
}

#image10 {
  background-image: url(../../img/fotos/background_10.jpg);
}

#image11 {
  background-image: url(../../img/fotos/background_11.jpg);
}

#image12 {
  background-image: url(../../img/fotos/background_12.jpg);
}

#image13 {
  background-image: url(../../img/fotos/background_13.jpg);
}

#image14 {
  background-image: url(../../img/fotos/background_14.jpg);
}

#image15 {
  background-image: url(../../img/fotos/background_15.jpg);
}

#image16 {
  background-image: url(../../img/fotos/background_16.jpg);
}

#image17 {
  background-image: url(../../img/fotos/background_17.jpg);
}

#image18 {
  background-image: url(../../img/fotos/background_18.jpg);
}

#image19 {
  background-image: url(../../img/fotos/background_19.jpg);
}

#image20 {
  background-image: url(../../img/fotos/background_20.jpg);
}

#wallpaper-1 {
  background-image: url(../../img/wallpaper/wallpaper_1.jpg);
}

#wallpaper-2 {
  background-image: url(../../img/wallpaper/wallpaper_2.jpg);
}

#wallpaper-sair {
  background-image: url(../../img/wallpaper/wallpaper_sair.jpg);
}

#wallpaper-3 {
  background-image: url(../../img/wallpaper/wallpaper_3.jpg);
}

#image1, #image2, #image3, #image4, #image5,
#image6, #image7, #image8, #image9, #image10,
#image11, #image12, #image13, #image14, #image15,
#image16, #image17, #image18, #image19, #image20,
#wallpaper-1, #wallpaper-2,
#wallpaper-3, #wallpaper-sair {
  position: relative;
  height: 100%;
  min-height: 500px;
  opacity: 0.7;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

a {
  fill: #aa5042;
  /* Cor inicial */
}

a:hover {
  fill: #fff;
  /* Cor ao passar o mouse */
}

.read-branco:read-write {
  color: #fff;
}

input[type=file] {
  width: 100%;
  color: #aa5042;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #72a98f;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: 2px solid #72a98f;
  background: #72a98f;
  padding: 5px 20px;
  border-radius: 10px;
  color: #000;
  cursor: pointer;
}

input[type=file]::file-selector-button:hover {
  background: #fff;
  color: #000;
  border: 2px solid #72a98f;
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
}

a.link-sem-sobrescrito {
  text-decoration: none;
}

a.bg-cor-3:focus,
a.bg-cor-3:hover,
button.bg-cor-3:focus,
button.bg-cor-3:hover {
  background-color: #33658a !important;
}

.bg-cor-3 {
  background-color: #33658a !important;
}

.bg-branco {
  background-color: #fff;
}

ul.navbar-nav > li.nav-item > a.nav-link,
.menu-eventos-item {
  background-color: #fff;
  color: #aa5042;
}

ul.navbar-nav > li.nav-item > a.nav-link:hover, ul.navbar-nav > li.nav-item > a.nav-link :focus,
.menu-eventos-item:hover,
.menu-eventos-item :focus {
  background-color: #aa5042;
  border-radius: 10px;
  color: #fff;
}

.menu-eventos {
  height: 55px;
}

div.barra {
  height: 20px;
  width: 200px;
}

hr.separador {
  border: 1px dotted #aa5042;
}

hr.separador-branco {
  border: 2px dotted #fff;
}

.sombra-imagem-evento {
  box-shadow: 15px 15px 15px #33658ac4;
}
